#color-picker {
    text-align: center;
    position: fixed;
    padding-left: 0 !important;
    right: 10px;
    bottom: 10px;
    width: 60px;
    height: 60px;
    border-radius: 35px;
    border: 5px solid white;

}

#weight-slider {
    position: fixed;
    right: -95px;
    bottom: 70px;
    width: 150px;
    height: 20px;
    margin: 0;
    transform-origin: 0 0;
    transform: rotate(-90deg);
}


#me{
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: block;
}
#me video{
    position: relative !important;
}
#remote-container{
    display: flex;
}
#remote-container video{
    height: auto;
    position: relative !important;
}

#grid {
    display: grid;
    background-color: rgb(215, 236, 195);
    padding: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 200px auto;
    grid-template-rows: 160px 160px;
}
.grid-item {
    background-color: white;
    font-size: 20px;
    padding: auto;
}


#container1 {
    display: flex;
    flex-wrap: wrap;
}
#container1 > div {
    background-color: bisque;
    width: 200px;
    height: 200px;
    padding: 5px;
    margin: 4px;
    font-family: cursive, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 5px;
}